.home-container{
    width: 99%;
    height: 99%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.home-container p{
    margin: 5px;
}

.home-header-info{
    margin: 5px;
    min-width: 20%;
    min-height: 3%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.home-board{
    border-radius: 3%;
    background: linear-gradient(-45deg,#23ACD5,rgb(16, 251, 173),#23ACD5, rgb(16, 251, 173));
    background-size: 770% 880%;
    margin: 5px;
    width: 50rem;
    height: 50rem;
    animation: change 60s ease-in-out infinite;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

}

.square{
    margin: 20px 20px;
    width: 150px;
    height: 150px;
    background-color: #2e3d49;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.square-selected{
    background-color: #fff;
}

@keyframes change{
    from{
        background-position: 0% 0%;
    }

    to{
        background-position: 78% 90%;
    }
    
}
